@{
    ViewBag.Title = "1103137114";
}

<body>
    客戶資料查詢
    <table>
        <tr>
            <td>客戶編號</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>客戶名稱</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>聯絡人姓名</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>聯絡人職稱</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td></td>
            <td><button id="searchBtn">查詢</button><button id="deleteBtn">刪除</button><button id="createBtn">新增客戶</button></td>
        </tr>
    </table>
</body>